[Unit]
Description=Osmocom Home NodeB (hNodeB)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
StateDirectory=osmocom
WorkingDirectory=%S/osmocom
Restart=always
User=osmocom
Group=osmocom
ExecStart=/usr/bin/osmo-hnodeb -c /etc/osmocom/osmo-hnodeb.cfg
RestartSec=2

[Install]
WantedBy=multi-user.target
